    <div class="center jumbotron">
      <h1>Welcome to Food Blog!</h1>
      <p>Use this starting point as a way to quickly set up a new project by generating files, installing gems, and more.</p>
    <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
    </div>
